@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

.App {
    text-align: center;
    font-family: 'Concert One',cursive;
    
  }
  nav
  {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgba(0,0,0,0.5);
    
  
  }
  .nav-links
  {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   text-decoration: none;
   list-style: none;
   color: white !important;
  }
  .audio
  {
    display: block;
    background: black;
    width: 40; 
    
    padding: 80px;
  
  }
  .jumbo
  {
      color: white;
      padding-bottom: 15px;
      padding-top: 45px;
  }
  .audio-content
  {
      display: inline;
      /* flex-direction: row; */
      margin-bottom: 15px;
  }
  .artist
  {
      color: white;
      font-size: 25px;
  }
  
  
  @media only screen and (max-width: 420px)
  {
      
  }